/* ========================= redimensiona tabla =================================*/
.mygrid-wrapper-div {  overflow-y: scroll;}
/*.mygrid-wrapper-div1 { overflow-y: scroll;}*/
/*===============================================================================*/
table {font-size: 11px;}

.blue { color: #428bca } 

#tabla_cuentas{font-family:sans-serif;font-size:12px}            
#txt_datoscliente{font-size:12px;height:30px;width:280px;border:1px solid #ddd;}
#txt_bancos{display: none; height:30px;width:280px;border:1px solid #ddd;}
#txt_nrocuenta{display: none; height:30px;width:260px;border:1px solid #ddd;}

/*.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}*/

