#fechaf{text-align:center ; font-size: 12pt; font-weight: bold;width: 100px; }
#fechai{text-align:center ; font-size: 12pt; font-weight: bold;width: 100px; }
.blue { color: #428bca; font-weight: bold }
#tabla_boletas {font-size: 11px;}
th {padding:5px;background:#555;color:#fff}
.ocultame {display: none}

