#fechai { width: 100px; font-size: 14px} 
#fechaf { width: 100px; font-size: 14px}

table {font-size: 11px;}
th {font-size: 11px; background: #428bca;color: white}
/*td {font-size: 11px; background: darkkhaki;color:black}*/

.oculto {display: none;}

.blue { color: #428bca; }